{% extends 'base.html' %}
{% include  'header.html' %}


{% block title %} 
RGPP Student Database
{% endblock %}


{% block body %} 
<div class="container">
    <div class = 'row'>
        <div class = 'col-md-12'>
            <div class = 'jumbotron p-3'> 
                <h2> Manage <b> Student Database</b> <button type='button' class = 'btn btn-success float-right'
                    data-toggle='modal' data-target='#modal_add_student'> Add new student </button></h2>

                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Citizenship</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Education: Departmant</th>
                            <th scope="col">Education: Date Entered </th>
                            <th scope="col">Education: Date Graduated</th>
                            <th scope="col">Education: Degreet</th>
                            <th scope="col">Education: Stram</th>
                            <th scope="col">Education: Departmant</th>
                            <th scope="col">Employement: Organization Name</th>
                            <th scope="col">Employement: City</th>
                            <th scope="col">Employement: Country </th>
                            <th scope="col">Employement: from_date</th>
                            <th scope="col">Employement: Positon </th>
                            <th scope="col">Employement: Industry </th>
                            <th scope="col">Employement: Sector </th>

                            <th  scope = "col"> Action  </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td> 
                                <a href = '' class = 'btn btn-success btn-xs' data-toggle='modal' data-target='#modaledit'>Edit </a>
                                <a href = '' class = 'btn btn-danger btn-xs' onclick="return confirm('Are you sure you want to delete?')" data-toggle='modal' data-target='#modaledit'>Delete </a>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td> 
                                <a href = '' class = 'btn btn-success btn-xs' data-toggle='modal' data-target='#modaledit'>Edit </a>
                                <a href = '' class = 'btn btn-danger btn-xs' onclick="return confirm('Are you sure you want to delete?')" data-toggle='modal' data-target='#modaledit'>Delete </a>
                            </td>
                          </tr>
                         
                          </tr>
                        </tbody>
                      </table>
                      <!-- Add New Student Modal -->
                        

</div>

{% endblock %}